#cabecalho {
    background-image: url("Imagens-Home/carlos-felipe-que-deu-certo.jpg");
    background-size:cover; /* faz com que a imagem cubra todo o elemento (no caso a div) preservando o tamanho do elemento*/
    background-repeat: no-repeat; /* faz com que caso a imagem seja menor que o elemento, ela não se repita até completar esse tamanho. Mesmo que o cover anterior faça com que isso não aconteça, eu deixo o no-repeat por preucaução */
    height: 250px; /* altura da div */
}

.hamburguer {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 32px;
    height: 20px;
    cursor: pointer;
}

.linha {
    width: 100%;
    height: 4px;
    background-color:#02D303;;
    margin-bottom: 5.5px;
    border-radius: 10px;
}

.titulo-site {
    color: #FFFFFF;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 80px;
}

.subtitulo-site {
    color: #FFFFFF;
    font-size: 26px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}

.link-minha-conta {
    color: #02D303;
    position: absolute;
    right: 20px;
    top: 60px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
}

.link-configuracoes {
    color: #02D303;
    position: absolute;
    right: 20px;
    top: 100px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
}

#top10 {
    background: linear-gradient(to right, black, 80%, purple);
    height: 700px;
}

.titulo-do-meio {
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 32px;
    background: linear-gradient(to right, rgba(217, 217, 217, 1), rgba(217, 217, 217, 1));
    -webkit-background-clip: text; /* Essa propriedade define a área onde o gradiente será aplicado. O valor text especifica que o gradiente será aplicado apenas ao texto do elemento.*/
    background-clip: text; /*É uma propriedade similar a -webkit-background-clip, mas é a forma padrão de definir a área onde o gradiente será aplicado. Nesse caso, também definimos como text para aplicar o gradiente apenas ao texto.*/
    -webkit-text-fill-color: transparent; /*Essa propriedade define a cor do texto. No caso do valor transparent, o texto será torna transparente, permitindo que o gradiente aplicado anteriormente seja visível no lugar do texto.*/
    color: transparent; /*É a propriedade padrão que define a cor do texto. Definir color como transparent tem o mesmo efeito de webkit-text-fill-color: transparent, tornando o texto transparente para exibir o gradiente.*/
}

.ded{
    padding-left: 30px; /*distância da parede*/
}

#imagem-grupo-laranja-1{
    border-radius: 50px;
    height: 200px;
    width: 235px;
}

.titulo-rpg-top10{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    top: 560px;
    left: 116px; /*título no meio da imagem*/
    font-weight: 500;
}

#imagem-cyberpunk-1{
    position: absolute;
    left: 295px; /*distância da imagem ded*/
    top: 342px;
    border-radius: 50px;
    width: 235px;
    height: 200px;
}

.titulo-cyberpunk-top10{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    top: 560px;
    left: 333px; /*título no meio da imagem*/
    font-weight: 500;
}

#imagem-call-1{
    position: absolute;
    left: 557px; /*distância da imagem cyberpunk*/
    top: 342px;
    border-radius: 50px;
    width: 235px;
    height: 200px;
}

.titulo-call-top10{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    top: 560px;
    left: 600px; /*título no meio da imagem*/
    font-weight: 500;
}

#imagem-thrones-1{
    position: absolute;
    left: 820px; /*distância da imagem call of cthulhu*/
    top: 342px;
    border-radius: 50px;
    width: 235px;
    height: 200px;
}

.titulo-thrones-top10{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    top: 560px;
    left: 855px; /*título no meio da imagem*/
    font-weight: 500;
}

#imagem-witcher-1 {
    position: absolute;
    left: 1081px; /*distância da imagem game of thrones*/
    top: 342px;
    border-radius: 50px;
    width: 235px;
    height: 200px;
}

.titulo-witcher-top10{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    top: 560px;
    left: 1142px; /*título no meio da imagem*/
    font-weight: 500;
}

#imagem-ring-1{
    position: absolute;
    left: 30px; /*distância da parede*/
    top: 630px;
    border-radius: 50px;
    width: 235px;
    height: 200px;
}

.titulo-ring-top10{
    position: absolute;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    top: 850px;
    left: 84px; /*título no meio da imagem*/
    font-weight: 500;
}

.catalogos {
    background: linear-gradient(to left, black, 80%, red);
    height: 700px;
}

.titulo-catalogos{
    font-size: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 32px;
    background: linear-gradient(to right, rgba(217, 217, 217, 1), rgba(217, 217, 217, 1));
    -webkit-background-clip: text; /* Essa propriedade define a área onde o gradiente será aplicado. O valor text especifica que o gradiente será aplicado apenas ao texto do elemento.*/
    background-clip: text; /*É uma propriedade similar a -webkit-background-clip, mas é a forma padrão de definir a área onde o gradiente será aplicado. Nesse caso, também definimos como text para aplicar o gradiente apenas ao texto.*/
    -webkit-text-fill-color: transparent; /*Essa propriedade define a cor do texto. No caso do valor transparent, o texto será torna transparente, permitindo que o gradiente aplicado anteriormente seja visível no lugar do texto.*/
    color: transparent; /*É a propriedade padrão que define a cor do texto. Definir color como transparent tem o mesmo efeito de webkit-text-fill-color: transparent, tornando o texto transparente para exibir o gradiente.*/
}

#imagem-homem-home{
    width: 500px;
    position: absolute;
    left: 30px;
    border-radius: 21px;
    cursor: pointer;
    transition: 0.5s; /*tempo que leva para o desfoque*/
}

#imagem-homem-home:hover{ /*ficar desfocado com zoom*/
    filter: blur(3px);
    transform: scale(1.1);
}

.comunidade-texto{
    position: absolute;
    left: 50px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    top: 1190px;
    font-size: 21px;
    line-height: 26px;
    text-indent: 40px; /*afastar a primeira palavra do canto*/
}

.titulo-comunidade-home{
    position: absolute;
    left: 187px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    top: 1390px;
    font-size: 28px; 
}